/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/Paulscode IBXM Library License.txt
/LICENSE-fml.txt
/CREDITS-fml.txt
/morefuelsmod-bleeding_Server.launch
/morefuelsmod-bleeding_Client.launch
/forge-1.9.4-12.17.0.1968-changelog.txt