/CREDITS-fml.txt
/forge-1.12.2-14.23.2.2613-changelog.txt
/LICENSE-new.txt
/MinecraftForge-Credits.txt
/morefuelsmod-bleeding_Client.launch
/morefuelsmod-bleeding_Server.launch
/Paulscode IBXM Library License.txt
/Paulscode SoundSystem CodecIBXM License.txt
/README.txt
